:root{
    --def-padding: 15px;
}


body, html{
    height: 100%;
}

.page-wrap{
    margin: auto 200px;
    padding: var(--def-padding) 0;
}

.messages{
    padding-left: 0;
}
.messages li{
    list-style: none;
}

